<div class="nav-right-container">
  <div class="logo" [routerLink]="['']">
    <img src="/assets/img/logos/osem.svg"> <span>openSenseMap</span>
    <div id="beta-text" [title]="'BETA_TEXT' | translate">
      BETA
    </div>
  </div>
  <div class="nav-item-container osem-box-shadow-basic">
    <div *ngIf="!user" class="nav-item osem-disabled" [routerLink]="[{ outlets: { sidebar: ['login'] }}]"
         queryParamsHandling="merge">
      Login
    </div>
    <div *ngIf="user" class="nav-item" [routerLink]="[{ outlets: { sidebar: ['m','profile'] }}]"
         queryParamsHandling="merge">
      {{user.name}}
    </div>
    <div class="nav-item" (click)="toggleSettings()">
      <i class="fa fa-cogs"></i>
    </div>
    <div class="nav-item" (click)="toggleShare()">
      <i class="fa fa-share-alt"></i>
    </div>
    <div class="nav-item" [routerLink]="[{ outlets: { sidebar: ['m'] }}]">
      <i class="fa fa-bars"></i>
    </div>
  </div>
</div>


<div id="settings" class="osem-box-shadow-basic" *ngIf="settings" [@slideInOutMenu]>

  <h2 class="underline pt-3">{{'PAGE_SETTINGS' | translate}}</h2>
  <div class="option-container pt-4">
    <div class="option-inner">
      <span class="option-name">{{'THEME' | translate}}:</span>
      <div class="options" (click)="toggleTheme(theme)">
        <div class="inner">
          <span [class.active]="theme === 'light'">light</span> /
          <span [class.active]="theme === 'dark'">dark</span>
        </div>
      </div>
    </div>
    <div class="option-inner pt-2">
      <span class="option-name">{{'LANGUAGE' | translate}}:</span>
      <div class="options" (click)="toggleLanguage(language)">
        <div class="inner">
          <span [class.active]="language === 'en-US'">en</span> /
          <span [class.active]="language === 'de-DE'">de</span>
        </div>
      </div>
    </div>
  </div>
  <h2 class="pt-5 underline">{{'MAP_SETTINGS' | translate}}</h2>
  <div class="option-container">
    <div class="checkbox-container mouse-active py-2"
         title="{{'TOGGLE_CLUSTERING' | translate}}">
      <label class="switch">
        <input id="clustering" type="checkbox" (click)="toggleClustering()">
        <span class="slider round"></span>
      </label>
      <span>{{'CLUSTERING' | translate}}</span>
    </div>
    <div class="checkbox-container mouse-active py-4">
      <label class="switch">
        <input id="hideOutliers" type="checkbox" (click)="toggleHideOutliers()">
        <span class="slider round"></span>
      </label>
      <span>{{'HIDE_OUTLIERS' | translate}}</span>
      <button class="btn" title="{{'TOGGLE_HIDE_OUTLIERS' | translate}}">
        <i class="fa fa-info-circle"></i>
      </button>
    </div>
  </div>

</div>


<div id="settings" class="osem-box-shadow-basic" *ngIf="sharing" [@slideInOutMenu]>
  <div class="share-vis-box">
    <div class="share-vis-elem">
      <div class="share-vis-preview">
        <img src="/assets/img/test/share-preview-webmap.jpeg">
      </div>
      <button class="osem-button share-type-button" (click)="shareWebMap()">{{'WEB_MAP' | translate}}</button>
    </div>
    <div class="share-vis-elem">
      <div class="share-vis-preview">
        <img src="/assets/img/test/share-preview-pdf.jpeg">
      </div>
      <button class="osem-button share-type-button" (click)="shareStaticMap()">{{'STATIC MAP' | translate}}</button>
    </div>
    <div class="share-vis-elem">
      <div class="share-vis-preview">
        <img src="/assets/img/test/share-preview-gif.jpeg">
      </div>
      <button class="osem-button share-type-button" (click)="shareGIF()">{{'GIF' | translate}}</button>
    </div>
  </div>
  <div class="share-vis-box">
    <div class="share-vis-options" id="share-vis-options-link">
      <share-buttons id="share-osm-link-social" theme="circles-dark"
        [include]="['copy', 'facebook', 'linkedin', 'telegram', 'whatsapp']" [showIcon]="true" [showText]="false" url="{{URL}}"
        description="OpenSenseMap">
      </share-buttons>
    </div>
    <div class="share-vis-options" id="share-vis-options-static">
      <div class="share-vis-options-static-selection display-margin">
        <p>{{'LEGEND_INCLUDE' | translate }}</p>
        <div class="radio-container">
          <input class="is-checkradio is-small is-primary" id="radio-legend-yes" type="radio" name="radio-legend"
            checked>
          <label for="radio-legend-yes">{{'LEGEND_INCLUDE_YES' | translate}}</label>
        </div>
        <div class="radio-container">
          <input class="is-checkradio is-small is-primary" id="radio-legend-no" type="radio" name="radio-legend">
          <label for="radio-legend-no">{{'LEGEND_INCLUDE_NO' | translate}}</label>
        </div>
      </div>
      <div class="share-vis-options-static-selection display-margin">
        <p>{{'EXPORT_FORMAT' | translate }}</p>
        <div class="radio-container">
          <input class="is-checkradio is-small is-primary" id="radio-format-png" type="radio" name="radio-format"
            checked>
          <label for="radio-format-png">{{'EXPORT_FORMAT_IMAGE' | translate}}</label>
        </div>
        <div class="radio-container">
          <input class="is-checkradio is-small is-primary" id="radio-format-pdf" type="radio" name="radio-format">
          <label for="radio-format-pdf">{{'EXPORT_FORMAT_DOCUMENT' | translate}}</label>
        </div>
      </div>
      <div class="width-25 display-margin">
        <button class="osem-button" id="button-export-static">{{'EXPORT' | translate}}</button>
      </div>
      <div class="display-margin" id="share-buttons-static">
        <share-buttons theme="circles-dark" [include]="['facebook', 'linkedin', 'telegram', 'whatsapp']"
          [showIcon]="true" [showText]="false">
        </share-buttons>
      </div>
    </div>
    <div class="share-vis-options" id="share-vis-options-gif">
      <p>Options for GIF</p>
    </div>
  </div>
</div>
