.osem-button {
  width: 100%;
}

.width-25 {
  width: 25%;
}

.display-margin {
  display: inline-block;
  margin: 2.5%;
}

.share-vis-section {
    text-align: center;
}

.share-vis-preview {
    border:2.5px solid black;
    overflow: hidden;
}

.share-vis-preview, img {
    border-radius: 25px;
}

img {
    display: flex;
    padding: 5%;
}

.share-type-button {
    margin-top: 10%;
}

.share-vis-options {
  display: none;
}

.share-vis-options.active {
  display: block;
}

.share-vis-options-static-selection {
  max-width: 45%;
  vertical-align: top;
}

.radio-container {
  display: inline-block;
}